.login-button-width {
    min-width: 6rem;
    background-color: #ff0000;

    &:hover {
        background-color: #ff0000;
    }

    &:active {
        background-color: #ff0000 !important;
    }
}

.nav-item .nav-link .active {
    background-color: #0000;
    color: black !important;
}

.nav-tabs .nav-link.active {
    background-color: #0000;
    color: black !important;
}